<div class="bodyPlacementMobile">	

<span class="oneten georgia"><%= link_to @Ititle, "https://imgur.com/gallery/" + @Iid, target: '_blank' %></span> &#160; &#160; 	 <% if @IpictureLink != nil %> <span class="eighty"><%= link_to "Picture Link", @IpictureLink, target: '_blank' 	     %></span> <% else %> <% end %>
<br>
<span class="eighty georgia"><span class="siteNameImgur">Imgur</span> &#160; &#160; &#160; <%= link_to @InumComments.to_s + ' 	 comments', "https://imgur.com/gallery/" + @Iid, target: '_blank' %> &#160; &#160; &#160; <%= share_link %></span>
<div id="sharelink" style="display: none;">
	<br>
	<span class="eighty georgia"><%= imgur_show_link %></span>
	<br>
	<br>
  	<%= link_to image_tag("/assets/FB15.png"), "http://www.facebook.com/sharer.php?u=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareIcon floatLeft", target: "_blank" %>  
  	<%= link_to "Share", "http://www.facebook.com/sharer.php?u=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareText floatLeft", target: "_blank"   %>
  	<%= link_to image_tag("/assets/twitter15.png"), "https://twitter.com/intent/tweet?text=#{@Ititle}&url=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %>  
  	<%= link_to "Tweet", "https://twitter.com/intent/tweet?text=#{@Ititle}&url=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareText floatLeft", target: "_blank" %> 
	<%= link_to image_tag("/assets/R23.png"), "http://www.reddit.com/submit?url=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %>
  	<%= link_to image_tag("/assets/G20.png"), "https://plus.google.com/share?url=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %> 
  	<%= link_to image_tag("/assets/L20.png"), "http://www.linkedin.com/shareArticle?url=http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}&title=#{@Ititle}", class: "shareIcon floatLeft shareLeft2", target: "_blank" %>  
  	<%= link_to image_tag("/assets/Email33.png"), "mailto:?subject=#{@Ititle}&body=Hey, check out this awesome comment at  http://www.stumweb.com/imgurs/#{@imgurID}-#{@imgurTitle}", class: "shareIcon floatLeft shareLeft3 email", target: "_blank" %>
</div>
<br>
<br>
<div class="ninety redditAuthor">
	&#160; &#160; <%= @Iauthor %> &#160; &#160; <%= @Ipoints %> points &#160; &#160; <%= time_ago_in_words(@Itime) if 		@Itime %> ago
	<br>
</div>
<div class="redditBodyMobile georgia">
	&#160; &#160; &#160; &#160; <% if @Icomment %> <%= markdown(@Icomment) %> <% else %> "No one has commented yet" <% end %>
	<br>
	<br>
</div>

<ul class="homeButtons">
	<li class="moveLeft"><%= link_to "Get Another Comment", root_path, class: "btn btn-primary" %></li>
	<li class="shareLeftFB"> 
		<div id="fb-root"></div>
		<div class="fb-like" data-href="https://www.facebook.com/stumweb" data-layout="button_count" data-action="like" 		 data-show-faces="false" data-share="false"></div>
	</li>
</ul>

</div>