<div class="stumBorder">
	<div class="stumHeader">
		<h3><span class="stumweb">Stumweb</span>: <span class="clicks"><%= number_with_delimiter(@clicks.score) %> comments discovered</span></h3>
	</div>
</div>

<div class="bodyPlacement">	

<span class="onetwenty georgia"><%= link_to @Ititle, "https://imgur.com/gallery/" + @Iid, target: '_blank' %></span> &#160; &#160; 	 <% if @IpictureLink != nil %> <span class="eighty"><%= link_to "Picture Link", @IpictureLink, target: '_blank' 	     %></span> <% else %> <% end %>
<br>
<span class="eighty georgia"><span class="siteNameImgur">Imgur</span> &#160; &#160; &#160; <%= link_to @InumComments.to_s + ' 	 comments', "https://imgur.com/gallery/" + @Iid, target: '_blank' %> &#160; &#160; &#160; <%= share_link %></span>
<div id="sharelink" style="display: none;">
	<br>
	<span class="eighty georgia"><% if Rails.env.development? %> <%= link_to "http://localhost:3000/imgurs/#{@imgurID}", "http://localhost:3000/imgurs/#{@imgurID}", target: '_blank' %> <% else %> <%= link_to "http://top-comments.herokuapp.com/imgurs/#{@imgurID}", "http://top-comments.herokuapp.com/imgurs/#{@imgurID}", target: '_blank' %> <% end %>></span>
</div>
<br>
<br>
<div class="redditAuthor">
	&#160; &#160; <%= @Iauthor %> &#160; &#160; <%= @Ipoints %> points &#160; &#160; <%= time_ago_in_words(@Itime) if 		@Itime %> ago
	<br>
</div>
<div class="redditBody georgia">
	&#160; &#160; &#160; &#160; <% if @Icomment %> <%= markdown(@Icomment) %> <% else %> "No one has commented yet" <% end %>
	<br>
	<br>
</div>

<%= link_to "Get More Comments", root_path, class: "btn btn-primary" %>
</div>
