<span class="oneten georgia"><%= link_to @title, "http://www.reddit.com" + @url, target: '_blank' %></span> &#160; &#160; 	 <% if @externalLink != nil %> <span class="eighty"><%= link_to "External Link", @externalLink, target: '_blank' 	     %></span> <% else %> <% end %>
<br>
<span class="eighty georgia"><span class="siteNameReddit">Reddit</span> &#160; &#160; &#160; <%= link_to @numComments.to_s + ' 	 comments', "http://www.reddit.com" + @url, target: '_blank' %> &#160; in &#160; <%= @subRand %> &#160; &#160; &#160; <%= share_link %></span>
<div id="sharelink" style="display: none;">
	<br>
	<span class="eighty georgia"><%= reddit_show_link %></span>
	<br>
	<br>
  	<%= link_to image_tag(asset_path("FB15.png")), "http://www.facebook.com/sharer.php?u=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareIcon floatLeft", target: "_blank" %>  
  	<%= link_to "Share", "http://www.facebook.com/sharer.php?u=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareText floatLeft", target: "_blank"   %>
  	<%= link_to image_tag(asset_path("twitter15.png")), "https://twitter.com/intent/tweet?text=#{@title}&url=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %>  
  	<%= link_to "Tweet", "https://twitter.com/intent/tweet?text=#{@title}&url=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareText floatLeft", target: "_blank" %> 
	<%= link_to image_tag(asset_path("R23.png")), "http://www.reddit.com/submit?url=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %> 
  	<%= link_to image_tag(asset_path("G20.png")), "https://plus.google.com/share?url=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareIcon floatLeft shareLeft", target: "_blank" %> 
  	<%= link_to image_tag(asset_path("L20.png")), "http://www.linkedin.com/shareArticle?url=http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}&title=#{@title}", class: "shareIcon floatLeft shareLeft2", target: "_blank" %>  
  	<%= link_to image_tag(asset_path("Email33.png")), "mailto:?subject=#{@title}&body=Hey, check out this awesome comment at  http://www.stumweb.com/reddits/#{@redditID}-#{@redditTitle}", class: "shareIcon floatLeft shareLeft3 email", target: "_blank" %>
</div>
<br>
<br>
<div class="ninety redditAuthor">
	&#160; &#160; <%= @author %> &#160; &#160; <%= @points %> points &#160; &#160; <%= time_ago_in_words(@time) if 		@time %> ago
	<br>
</div>
<div class="redditBodyMobile georgia">
	&#160; &#160; &#160; &#160; <% if @comment %> <%= markdown(@comment) %> <% else %> "No one has commented yet" <% end %>
	<br>
	<br>
</div>