<%# for i in 0..(@titles.to_a.count-1) %>
<% for i in 0..(2) %>
	<% random = @titlesIntArray.shuffle.first.to_i %>
	<%#= random %>
	<% title = @titles[random] %>
	<% comment = @comments[random] %>
	<% commentLink = comment[:href] %>
	<% @titlesIntArray.delete(random) %>
	<%#= @titlesIntArray %>
	Title is: <%= link_to title.text, comment[:href] %> &#160; &#160; &#160;<span style="font-size: 80%"><%= link_to comment.text, comment[:href] %></span>
	<br>
	<% clickPage = @page.link_with(:href => commentLink).click %>
	<% authorsArray = clickPage.search(".tagline > a.author") %>
	<% author = authorsArray[1].text  %>
	<% pointsArray = clickPage.search(".tagline > span.score.unvoted") %>
	<% points = pointsArray[0].text %>
	<% timeArray = clickPage.search(".tagline > time") %>
	<% time = timeArray[0].text %>
	<%#= clickPage.search(".tagline")[1] %>
	
	<%= author %> <%= points %> <%= time + " ago" %>
	<br>
	<br>
<% end  %>	