<%# for i in 0..(@titles.to_a.count-1) %>
<% for i in 0..(3) %>
	<% random = @titlesIntArray.shuffle.first.to_i %>
	<% title = @titles[random] %>
	<% comment = @comments[random] %>
	<% commentLink = comment[:href] %>
	<% @titlesIntArray.delete(random) %>
	
	<span style="font-size: 120%"><%= link_to title.text, comment[:href] %></span> 
	<br>
	
	<span style="font-size: 80%"><%= link_to comment.text, comment[:href] %></span>
	<br>
	
	<% clickPage = @page.link_with(:href => commentLink).click %>
	<% parent = clickPage.search(".sitetable.nestedlisting") %>
	
	<% authorsArray = parent.css(".tagline > a.author") %>
	
	<% rand = rand(0..(authorsArray.count*0.50)) %>
	
	<% check = authorsArray[rand] %>
	
	<% if check.parent.parent.parent.parent.parent.parent[:class] != "child" %>
		<% author = authorsArray[rand].text %>
		<% pointsArray = parent.css(".tagline > span.score.unvoted") %>
		<% points = pointsArray[rand].text %>
		<% timeArray = parent.css(".tagline > time") %>
		<% time = timeArray[rand].text %>

		&#160; &#160; <%= author %> &#160; &#160; <%= points %> &#160; <%= time + " ago" %>
		<br>
		<br>

		<% clickCommentsArray = parent.css(".md")[rand] %>
		<% clickP = clickCommentsArray.css("p") %>

		<% for p in clickP %>
			&#160; &#160; &#160; &#160; <%= p.text %>
			<br>
		<% end %>

		<br>
		<br>
	<% else %>
		<% until check.parent.parent.parent.parent.parent.parent[:class] != "child" do %>
			<% rand = rand(0..(authorsArray.count*0.50)) %>
			<% check = authorsArray[rand] %>
		<% end %>
	
		<% author = authorsArray[rand].text %>
		<% pointsArray = parent.css(".tagline > span.score.unvoted") %>
		<% points = pointsArray[rand].text %>
		<% timeArray = parent.css(".tagline > time") %>
		<% time = timeArray[rand].text %>

		&#160; &#160; <%= author %> &#160; &#160; <%= points %> &#160; <%= time + " ago" %>
		<br>
		<br>

		<% clickCommentsArray = parent.css(".md")[rand] %>
		<% clickP = clickCommentsArray.css("p") %>

		<% for p in clickP %>
			&#160; &#160; &#160; &#160; <%= p.text %>
			<br>
		<% end %>

		<br>
		<br>
	<% end %>
<% end  %>	
