<%# for i in 0..(@titles.to_a.count-1) %>
<% for i in 0..(@randContainer.count-1) %>
	<span style="font-size: 120%"><%= link_to @titleContainer[i].text, @commentLinkContainer[i] %></span> 
	<br>
	
	<span style="font-size: 80%"><%= link_to @commentContainer[i].text, @commentLinkContainer[i] %></span>
	<br>
	
	&#160; &#160; <%= @authorContainer[i].text %> &#160; &#160; <% if !@pointsContainer[i].nil? %> <%= @pointsContainer[i].text %> &#160; <% else %> N/A &#160; <% end %> <%= @timeContainer[i].text + " ago" %>
	<br>
	<br>

	<% for p in @clickPContainer[i] %>
		&#160; &#160; &#160; &#160; <%= p.text %>
		<br>
	<% end %>

	<br>
	<%#= @randContainer %>
	<br>
<% end  %>	