<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "main.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "shareLinks.js", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- // <script language="javascript" type="text/javascript">setTimeout("location.reload();",2000);</script> -->
</head>
<body onload="facebook()">
	<div class="bottomBackground">
		<div class="container">
			<div class="headerMobile">
				<h1 class="headerColorMobile desktopFont header1">Stumweb</h1>
				<h4 class="headerColorMobile desktopScore header2"><%= number_with_delimiter(@clicks.score) %> comments discovered</h4>
			</div>
			<div class="bodyWrapper">
				
					<%= yield %>
					
			</div>
		</div>
	</div>
</body>
</html>
